doctype html
// This is a static file
// served from your routes in server.js
// You might want to try something fancier:
// html/nunjucks docs: https://mozilla.github.io/nunjucks/
// pug: https://pugjs.org/
// haml: http://haml.info/
// hbs(handlebars): http://handlebarsjs.com/
html(lang='en')
  head
    title List Directory
    meta(name='description', content='A cool thing made with Glitch')
    link#favicon(rel='icon', href='https://glitch.com/edit/favicon-app.ico', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" ,href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(rel="stylesheet" ,href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",crossorigin="anonymous")

  body
    .wrapper
      h3
        i.fas.fa-folder-open
        = root
      ul
        each item in data
          li
            a(href=item.nextPath)
              if item.name == ".git"
                i.devicon-git-plain.colored
              else if item.type == "folder"
                i.fas.fa-folder(style="color:#66a2e8")
              else if item.type == "hidden-file"
                i.fas.fa-file(style="color:rgba(0,0,0,.1)")
              else if item.type == ".js" || item.type == ".json"
                i.devicon-javascript-plain.colored
              else if item.type == ".css"
                i.devicon-css3-plain-wordmark.colored
              else if item.type == ".pug" || item.type == ".html"
                i.devicon-html5-plain-wordmark.colored
              else
                i.far.fa-file(style="color:rgba(0,0,0,.9)")
              span= item.name